{% autoescape off %}

<!--https://stackoverflow.com/questions/19970348/django-html-e-mail-template-doesnt-load-css-in-the-e-mail-->

Hi {{ user.first_name }} !

Hello [name]
You registered an account on [site], before being able to use your account you need to verify that this is your email address by clicking here:
http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %}

If you think it's not you, please ignore this e-mail :)

Kind Regards, [name of company]

{% endautoescape %}
